@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
  text-decoration: none !important;
  list-style: none !important;
}

body {
  font-family: "Poppins", sans-serif !important;
}

.ff_josefin {
  font-family: "Josefin Sans", sans-serif;
}

.bg_gray {
  background: #252930 !important;
}

swiper-container {
  width: 100%;
  height: 100%;
  background: #000;
}

swiper-slide {
  font-size: 18px;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 150px;
  padding-bottom: 150px;
}

.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: #4D73F8 !important;
}

.swiper-pagination .swiper-pagination-bullet {
  background: #FFFFFF !important;
  opacity: 30%;
}

.mw_927 {
  max-width: 927px !important;
}

.mw_899 {
  max-width: 899px !important;
}

.btn_start {
  padding: 15px 30px;
  background-color: #4D73F8;
  border-radius: 74px;
  border: none;
}

:root {
  --fs-sm: 16px;
  --fs-md: 22px;
  --fs-lg: 48px;
  --fs-xl: 96px;
}

.text_sm {
  font-size: var(--fs-sm);
}

.text_md {
  font-size: var(--fs-md);
}

.text_lg {
  font-size: var(--fs-lg);
}

.text_xl {
  font-size: var(--fs-xl);
}

.lh_100 {
  line-height: 100%;
}

.lh_155 {
  line-height: 155%;
}

.lh_119 {
  line-height: 119%;
}